*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px; 
}
.margen{
    margin-left: ;
    margin-right: ;
    

}
.div_circulos{
    width: 36rem;
    height: 36rem;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    margin-top: 10rem;
    background-color: #562678;
}
.div_ovalo{
    width: 73rem;
    height: 7rem;
    margin: auto;
    margin-top: 15rem;
    border: 1px solid black;
    border-radius: 4rem;
    background-color: #34004A;
}
.div_ovalo1{
    width: 32rem;
    height: 3.5rem;
    margin: auto;
    margin-top: 11rem;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #001935;
}
.div_ovalo2{
    width: 32rem;
    height: 3.5rem;
    margin: auto;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #001935;
}
.div_cuadrado{
    width: 73rem;
    height: 36rem;
    border: 3px solid black;
    border-radius: 50px;
    margin: auto;
    margin-top: 10rem;
    background-color: #FE7E4F;
}
.div_rectangulo{
    width: 73rem;
    height: 8.5rem;
    border: 3px solid black;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #001935;
}
.div_linea{
    height: 10px;
    background-color: black;
}
.circulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div_circulo{

    
    width: 13rem;
    height: 13rem;
    margin-top: 1.5rem;
    border-radius: 50%;
    background: #001935;
    
}
